*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   
  
   
}

.arrowLeftBox{
   width: 15%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.arrowRightBox{
   width: 15%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}

.prev, .next{
   width: 70%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.carousel{
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.freccia{
   font-size: 400%;
}

.carouselImage{
   width: 1345px;
   height: 700px;
   
}

img.active{
   display: block;
}

img{
   display: none;
}


.nav {
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
   padding: 20px;
   border-radius: 999px;
   background: rgba(0,0,0,.7);
   color: white;
}
.nav > i {
   margin: 0 20px;
}
.nav > i.active {
   color: blue;
}